<!DOCTYPE html>
<html>

<head>
    <% include head.ejs %>
        <title>
            The Annual Chip In - Bets - <%= standard_return.user %>
        </title>
        <link rel='stylesheet' href='/stylesheets/sam.css' />
</head>

<body>
    <% include menu_partial.ejs %>
    <div class='column'>
        <h1>Bets</h1>
        <br>
        <p>
        <span placeholder='Oscar' contenteditable='true' class='form-betting_form-inline_text' js='js-betting_form-better_1'>Oscar</span> bets <input type='text' placeholder='Grouch' class='form-betting_form-inline_text' js='js-betting_form-better_2'/> a sum of $<input type='currency' placeholder='20.00' class='form-betting_form-inline_text' js='js-betting_form-amount'/> that <input type='text' placeholder="Oscar can't stand on his head for 5 seconds" class='form-betting_form-inline_text' js='js-betting_form-comment'/>.
        </p>
        <p> Sound good? </p>
    </div>
</body>

<script src="/javascripts/sam.js"></script>

</html>
