 <table class="table">
      <thead>
        <tr>
          <th> Hole </th>
          <th> Par </th>
          <th> Info </th>
          <th> <img class="img-circle image is-32x32" src="/img/sam.jpg"></th>
          <th> <img class="img-circle image is-32x32" src="/img/tom.jpg"></th>
        </tr>
      </thead>
       <tbody>
          <tr>
            <td>1</td>
            <td>1</td>
            <td> <a id="hole_1" class="button" onclick="my_function()">Map</a></td>
            <td>2</td>
            <td>3</td>
          </tr>
          <tr>
            <td>1</td>
            <td>2</td>
            <td> <a id="hole_2" class="button">Map</a></td>
            <td>4</td>
            <td>5</td>
          </tr>
        </tbody>
</table>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <p> hello </p>
  </div>
  <button class="modal-close"></button>
</div>
