<!DOCTYPE html>
<html>
<head>
	<% include head.ejs %>
	<title>
		<%= title %>
	</title>
	<link rel='stylesheet' href='/stylesheets/tom.css'/>
	<script type="text/javascript" src="/javascripts/tom_frontend.js"></script>
</head>

<body>

	<!-- <section class="hero is-dark container is-fluid"> -->
	<section class="hero is-alt is-bold is-dark">
		<div class="hero-body">

			<h1 class="title"> Day <%= day %> > Hole <%= hole %> </h1>

		</div>

	</section>

	<section>

		<div class = "columns is-mobile">

			<div class="column hole-details center-div" style="background-color:#BEEE9E">

				<div class="columns">

					<div class="column is-3 center-div">
						<img src="/img/holes/distance.png">
					</div>

					<div class="column is-3">
						<span class="tag is-white is-medium"> 445m </span>
					</div>


				</div>

			</div>

			<div class="column hole-details center-div" style="background-color:#71D161">

				<div class="columns">

					<div class="column is-3 center-div">
						<img src="/img/holes/par.png">
					</div>

					<div class="column is-3">
						<span class="tag is-white is-medium"> 3 </span>
					</div>


				</div>

			</div>


		</div>

		<div class = "columns is-mobile">

			<div class="column hole-details center-div" style="background-color:#5AB953">



				<div class="columns">

					<div class="column center-div">
						<img src="/img/holes/top-score.png">
					</div>

					<div class="column">
						<span class="tag is-white is-medium"> TBD </span>
					</div>


				</div>

			</div>

			<div class="column hole-details center-div" style="background-color:#49A34B">

				<div class="columns">

					<div class="column center-div">
						<img src="/img/holes/golf.png">
					</div>

					<div class="column">
						<span class="tag is-white is-medium"> 3rd thing </span>
					</div>


				</div>
			</div>


		</div>

	</section>

</body>

</html>