<div class = "columns">
  

  <div class = "column is-1  center-div test">
    
    <ul>
      <li> <h2> 1 </h2> </li>
      <li> <h2> 2 </h2> </li>
    </ul>

  </div>

  <div class = "column is-1  center-div test">
  
    <ul>
      <li> <h2> 3 </h2> </li>
      <li> <h2> 4 </h2> </li>
    </ul>

  </div>

  <div class = "column is-4 center-div test">
    
    <ul>
      <li> <h2> View Map </h2> </li>
      <li> <h2> View Map </h2> </li>
    </ul>

  </div> 

<div class = "column is-3 test">
    <ul class="score-column">

      <!-- FINISHED SCORE -->
      <li>
          <label class="score">Par: 4</label>
          <input name="name" maxlength="100">
          <!-- <span>Enter your score here</span> -->
      </li>

      <!-- UNFINISED SCORE -->

      <li>
          <label class="score">Par: 4</label>
          <input class = "score-input draw" name="name" maxlength="100">
          <!-- <span>Enter your score here</span> -->
      </li>

    </ul>
  </div>

<div class = "column is-3 test">
    <ul class="score-column">

      <!-- FINISHED SCORE -->
      <li>
          <label class="score">Par: 4</label>
          <input name="name" maxlength="100">
          <!-- <span>Enter your score here</span> -->
      </li>

      <!-- UNFINISED SCORE -->

      <li>
          <label class="score">Par: 4</label>
          <input class = "score-input draw" name="name" maxlength="100">
          <!-- <span>Enter your score here</span> -->
      </li>

    </ul>
  </div>

</div>



<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <p> hello </p>
  </div>
  <button class="modal-close"></button>
</div>
