<!DOCTYPE html>
<html>
<head>
<% include head.ejs %>
<title>
<%= title %>
</title>
<link rel='stylesheet' href='/stylesheets/tom.css'/>
<script type="text/javascript" src="/javascripts/tom.js"></script>
</head>

<body>

<!-- <section class="hero is-dark container is-fluid"> -->
<section class="hero is-alt background_color-grey">
<div class="hero-body">
<div class="container">
<h1 class="title">
Hole 1
</h1>
</div>

</div>
</section>

<div class="columnns">


<div class="column is-3"></div>

<div class="column is-6">


<div class="card">
<div class="card-image">
<figure class="image is-2by1">
<img src="/img/hole_diagrams/hole_1.jpg" alt="Image">
</figure>
</div>
<div class="card-content">
<div class="media">
<div class="media-content">
<p class="title is-4">John Smith</p>
<p class="subtitle is-6">@johnsmith</p>
</div>
</div>

<div class="content">
Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Phasellus nec iaculis mauris. <a>@bulmaio</a>.
<a>#css</a> <a>#responsive</a>
<br>
<small>11:09 PM - 1 Jan 2016</small>
</div>
</div>
</div>
</div>

<div class="column is-3"></div>



</body>

</html>