<footer class="footer">
  <div class="container background_color-grey">
    <div class="content has-text-centered">
      <p>
      This is the footer of The Annual Chip In website created by 
      <strong> <a href="https://github.com/TMBish"> Tom Bishop </a> </strong>
      and
      <strong> <a href="https://github.com/mrdorothy"> Sam Brass </a> </strong>
      </p>
      <p>
        <a class="icon" href="https://github.com/theannualchip">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>