<!DOCTYPE html>
<html class='background_color-light_grey'>

<head>
    <% include head.ejs %>
        <title>
            Welcome
            <%= user %> to The Annual Chip In
        </title>
        <link rel='stylesheet' href='/stylesheets/sam.css' />
</head>
<body>

    <!-- the loading screen -->
    <% include menu_partial.ejs %>
    <% photos=['broken_club','dancing_man','fresh_prince','golf_devil','golf_pong','golf_shot','golf_dog'] %>
    <% todays_photo='/img/loading_images/' + photos[Math.floor(Math.random()*7)] + '.gif' %>
    <div class='main_theme-loading_window background_color-light_grey toggle-display_none' id='js-chit_chat_loader'>
        <div class="main_theme-loading_window-content">
            <img src='<%= todays_photo %>' class='chit_chat-loader_image' id='js-chit_chat-loader_image'>
            <br>
            <br>
            <progress class="progress is-small" id='js-main_theme-loading_window-progress' value="0" max="100"></progress>
        </div>
    </div> 

    <!-- the chat output -->

    <div class='chit_chat-chat_output background_color-white toggle-display_none' id='js-chit_chat-chat_output'>
        <div class='column' id='js-chat_output'>
        </div>
    </div>


    <!-- the side bar -->

    <div class='chit_chat-side_bar background_color-light_yellow toggle-display_none' id='js-chit_chat-side_bar'>
        <div class='column' id='js-chat_side_bar'>
        </div>
    </div>

    <!-- the chat input -->

    <div class='chit_chat-chat_input background_color-grey toggle-display_none' id='js-chit_chat-chat_input'>
        <!--<div class='column'>
            <div class='columns is-mobile'>
                <div class='column is-9'>
                    <input class='input' placeholder='Message' autocomplete="off" type='text' id='js-chat_input'></input>
                </div>
                <div class='column'>
                    <input class='button background_color-yellow is-full-width' type='button' value='Send' onclick='send_message()'></input>
                </div>
            </div>
        </div>-->
    </div>

</body>
<script>
    var variables = <%- JSON.stringify(locals) %>;
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/sam.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="/javascripts/chit_chat.js"></script>
</html>
