<!DOCTYPE html>
<html class='background_color-light_grey'>

<head>
    <% include head.ejs %>
        <title>
            Welcome
            <%= standard_return.user %> to The Annual Chip In
        </title>
        <link rel='stylesheet' href='/stylesheets/sam.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0" />
</head>
<body>

    <!-- the loading screen -->
    <% include menu_partial.ejs %>

    <div class='main_theme-loading_window background_color-light_grey toggle-display_none' id='js-chit_chat_loader'>
        <div class="main_theme-loading_window-content">
            <img src='<%= loading_image %>' class='chit_chat-loader_image' id='js-chit_chat-loader_image'>
            <br>
            <br>
            <progress class="progress is-small" id='js-main_theme-loading_window-progress' value="0" max="100"></progress>
        </div>
    </div> 

    <!-- the chat output -->

    <div class='chit_chat-chat_output background_color-white toggle-display_none' id='js-chit_chat-chat_output'>
        <div class='column' id='js-chat_output'>
        </div>
        <div class='chat_output-request_messages-container' id='js-chat_output-request_messages-container'>
                <div class='chat_output-request_messages-button background_color-grey' id='js-chat_output-request_messages-button'>
                    <span>
                        Want older conversations?
                    </span>
                </div>
        </div>
    </div>


    <!-- the side bar -->

    <div class='chit_chat-side_bar background_color-light_grey toggle-display_none' id='js-chit_chat-side_bar'>
        <div class='column is-full-width' id='js-chat_side_bar-your_profile'>
        </div>
        <div class='column' id='js-chat_side_bar'>
        </div>
    </div>

    <!-- the chat input -->

    <div class='chit_chat-chat_input background_color-grey toggle-display_none' id='js-chit_chat-chat_input'>
        <div class='column is-full-width'>
            <div class='chit_chat-input_container' id='js-chit_chat-input_container'>
                <div class='chit_chat-chat_input-text background_color-light_grey' id='js-chit_chat-chat_input-text'>
                    <p class='toggle-text_place_holder' contenteditable="true" id='js-chit_chat-chat_p' autocorrect='off' autocomplete='off' spellcheck='true'>Something you'd like to say?</p>
                </div>
                <div class='chit_chat-chat_input-send background_color-yellow' onclick='send_message()'>
                    <i class="fa fa-comment font-small-12"></i>
                </div>
                <div class='chit_chat-chat_input-bet background_color-info_blue'>
                    <i class="fa fa-usd font-small-12"></i>
                </div>
           </div>
        </div>
    </div>

</body>
<script>
    var variables = <%- JSON.stringify(locals) %>;
</script>
<script src="/javascripts/sam.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="/javascripts/chit_chat.js"></script>
</html>
