<!DOCTYPE html>
<html>

<head>
    <% include head.ejs %>
        <title>
            <%= title %>
        </title>
        <link rel='stylesheet' href='/stylesheets/sam.css' />
</head>

<body>
    <div class='column'>
        <h1 class='title'><%= title %></h1>
    </div>
    <div class='column'>
        <div class='columns'>
            <div class='column is-two-thirds'>
                <div class='notification is-danger'>
                    Ah Oh!
                </div>
            </div>
            <div class='column'>
                <div class='notification is-primary'>
                    Thats Better.
                </div>
            </div>
        </div>
        <div class='notification is-warning'>
            Full Width!
        </div>
    </div>
</body>

</html>
