<!DOCTYPE html>
<html>

<head>
    <% include head.ejs %>
        <title>
            Welcome To The Annual Chip In.
        </title>
        <link rel='stylesheet' href='/stylesheets/palette.css' />
        <link rel='stylesheet' href='/stylesheets/sam.css' />
</head>

<body>
    <section class="hero is-alt is-fullheight bc-grey">
        <div class="hero-body">
            <div class="column is-one-third-desktop is-offset-one-third-desktop">
                <div class="card-content">
                    <h1 class="title has-text-centered chip_heading-large">
                        The Annual Chip In
                    </h1>
                    <br>
                    <form method='POST' action='/user_login'>
                        <p class="control has-icon">
                            <input class="input" type="email" name='email' placeholder="Email">
                            <span class="icon is-small is-left">
                                <i class="fa fa-user"></i>
                            </span>
                        </p>
                        <p class="control has-icon">
                            <input class="input" type="password" name='password' placeholder="Password">
                            <span class="icon is-small is-left">
                                <i class="fa fa-key"></i>
                            </span>
                        </p>
                        <br>
                        <p class="control" id='js-login_submit_button'>
                            <button type='submit' class="button is-medium is-fullwidth bc-yellow" style="display: inline-block">
                                Login
                            </button>
                        </p>
                    </form>
                    <%if (locals.warning) { %>
                        <br><div class='notification bc-danger_pink has-text-centered'>  <%= warning %></div>
                    <% } %>
                    </div>
                </div>
            </div>
    </section>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/javascripts/sam.js"></script>
</html>
