<!DOCTYPE html>
<html>

<head>
  <% include head.ejs %>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/tom.css' />
</head>

<body>


<div class="box">
  <div class="notification">
      <h1 class='title'><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <h6> Welcome to the Day 1 Scorecard!</h6>
  </div>
</div>

  <%- include footer.ejs %>

</body>

</html>