<!DOCTYPE html>
<html>
<head>
  <% include head.ejs %>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/tom.css'/>
  <link rel="stylesheet" href="/stylesheets/extras/flickity.css" media="screen">
  <script type="text/javascript" src="/javascripts/tom.js"></script>
</head>

<body>

  <h1 class='title has-text-centered is-large main_theme-title'><%= title %></h1>


  <!-- Small Leaderboard Scroller -->
  <div class="container is-fluid is-fullwidth">
    <%- leaderboard %>
  </div>

  <br><br>

  <div class="tabs is-toggle is-fullwidth">
    <ul>
      <li class="is-active">
        <a>
          <span class="icon is-small"><i class="fa fa-ellipsis-v"></i></span>
          <span>Day 1</span>
        </a>
      </li>
      <li>
        <a>
          <span class="icon is-small"><i class="fa fa-hand-peace-o"></i></span>
          <span>Day 2</span>
        </a>
      </li>
      <li>
        <a>
          <span class="icon is-small"><i class="fa fa-cubes"></i></span>
          <span>Day 3</span>
        </a>
      </li>
    </ul>
  </div>


  <br>

  <!-- BODY OF SCOREBOARD -->

  <div class="columns is-mobile">

    <div class="column is-2"></div>

    <div class="column is-2 box-hole">
      <h1 class='title has-text-centered is-small main_theme-number'> 1 </h1>
    </div>

    <div class="column is-1"></div>

    <div class="column is-2 box-hole">
      <h1 class='title has-text-centered is-small main_theme-number'> 2 </h1>
    </div>

    <div class="column is-1"></div>

    <div class="column is-2 box-hole">
      <h1 class='title has-text-centered is-small main_theme-number'> 3 </h1>
    </div>

    <div class="column is-2"></div>

  </div>

  <br>

  <div class="columns is-mobile">

    <div class="column is-2"></div>

    <div class="column is-2 box-hole">
      <h1 class='title has-text-centered is-small main_theme-number'> 4 </h1>
    </div>

    <div class="column is-1"></div>

    <div class="column is-2 box-hole">
      <h1 class='title has-text-centered is-small main_theme-number'> 5 </h1>
    </div>

    <div class="column is-1"></div>

    <div class="column is-2 box-hole">
      <h1 class='title has-text-centered is-small main_theme-number'> 6 </h1>
    </div>

    <div class="column is-2"></div>

  </div>

  <br>

  <div class="columns is-mobile">

    <div class="column is-2"></div>

    <div class="column is-2 box-hole">
      <h1 class='title has-text-centered is-small main_theme-number'> 7 </h1>
    </div>

    <div class="column is-1"></div>

    <div class="column is-2 box-hole">
      <h1 class='title has-text-centered is-small main_theme-number'> 8 </h1>
    </div>

    <div class="column is-1"></div>

    <div class="column is-2 box-hole">
      <h1 class='title has-text-centered is-small main_theme-number'> 9 </h1>
    </div>

    <div class="column is-2"></div>

  </div>

</div>

<script src="/javascripts/extras/flickity.pkgd.min.js"></script>

</body>

</html>