<!DOCTYPE html>
<html>
<head>
  <% include head.ejs %>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/tom.css'/>
  <link rel='stylesheet' href='/stylesheets/sam.css' />
  <link rel="stylesheet" href="/stylesheets/extras/flickity.css" media="screen">
  <script type="text/javascript" src="/javascripts/tom_frontend.js"></script>
</head>

<body>

  <!-- Include header -->
  <% include menu_partial.ejs %>

<!--   <h1 class='title has-text-centered is-large main_theme-title'><%= title %></h1>
-->

<br>
<!-- Small Leaderboard Scroller -->
<div class="container is-fluid is-fullwidth">
  <%- leaderboard %>
</div>
<br>

<!-- <div class="tabs is-toggle is-fullwidth">
  <ul>
    <li class="is-active">
      <a>
        <span class="icon is-small"><i class="fa fa-ellipsis-v"></i></span>
        <span class = "day-label">Day 1</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-hand-peace-o"></i></span>
        <span class = "day-label">Day 2</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-cubes"></i></span>
        <span class = "day-label">Day 3</span>
      </a>
    </li>
  </ul>
</div>

-->

<br> 

<div class="is-fullwidth center-div">
<div class="field">
  <p class="control is-fullwidth">
    <span class="select is-large">
      <select>
        <option> Day 1</option>
        <option> Day 2</option>
        <option> Day 3</option>

      </select>
    </span>
  </p>
</div>

</div>



<!-- BODY OF SCOREBOARD -->
<%- links %>

<script src="/javascripts/extras/flickity.pkgd.min.js"></script>

</body>

</html>