<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/tom.css' />

    <!-- Google MDL Components -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <!-- End -->
  </head>

  <body>

    <!-- Simple header with scrollable tabs. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Scorecard</span>
        </div>
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
          <a href="#scroll-tab-1" class="mdl-layout__tab is-active">Day 1</a>
          <a href="#scroll-tab-2" class="mdl-layout__tab">Day 2</a>
          <a href="#scroll-tab-3" class="mdl-layout__tab">Day 3</a>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Scorecard</span>
        <span class="mdl-layout-title">Analysis</span>
      </div>
      <main class="mdl-layout__content">
        <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
          <div class="page-content">
            
            <h1><%= title %></h1>
            <p>Welcome to <%= title %></p>
            <h6> Welcome to the Day 1 Scorecard!</h6>
            <!-- Numeric Textfield -->
            <form action="#">
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="score">
                <label class="mdl-textfield__label" for="sample2">Your score...</label>
                <span class="mdl-textfield__error">Input is not a number!</span>
              </div>
            </form>

          </div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-2">
          <div class="page-content"><!-- Your content goes here --></div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-3">
          <div class="page-content"><!-- Your content goes here --></div>
        </section>
      </main>
    </div>

  </body>
</html>
