<!DOCTYPE html>
<html>
<head>
  <% include head.ejs %>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/tom.css'/>
  <link rel='stylesheet' href='/stylesheets/sam.css' />
  <link rel="stylesheet" href="/stylesheets/extras/flickity.css" media="screen">
  <script type="text/javascript" src="/javascripts/tom_frontend.js"></script>
</head>

<body>

  <!-- Include header -->
  <% include menu_partial.ejs %>

<!--   <h1 class='title has-text-centered is-large main_theme-title'><%= title %></h1>-->

<!-- Small Leaderboard Scroller -->
<h1 class="main_theme-subtitle"> Current Standings </h1>

<div class="leader-board container is-fluid is-fullwidth">
  <%- leaderboard %>
</div>

<br>

<h1 class="main_theme-subtitle"> Your Scorecard </h1>

<div class="field has-addons">
  <p class="control is-expanded">
    <span class="select is-fullwidth">
      <select name="day">
        <option value="1">Day 1</option>
        <option value="2">Day 2</option>
        <option value="3">Day 3</option>
      </select>
    </span>
  </p>
  <p class="control">
    <button id="update" type="submit" class="button background_color-yellow">Update</button>
  </p>
</div>

<!-- BODY OF SCOREBOARD -->
<div id="hole_links">
  <% var links = links %>
  <%- links[0] %>
</div>

<script src="/javascripts/extras/flickity.pkgd.min.js"></script>

</body>

</html>