/***************************************************** GENERAL THEMES *************************************************/

body {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: none;
    max-height: none;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

.columns.is-gapless:not(:last-child) {
    margin-bottom: 0;
}

.menu_buffer {
    width: 100%;
    height: 53px;
}

.main_theme-title {
    text-shadow: 2px 2px #E5E4D7, 4px 4px #aeac84;
    font-size: 24pt;
    font-family: 'Pacifico', cursive;
}

.main_theme-title-smaller {
    text-shadow: 2px 2px #FFCF79, 4px 4px #996300;
    font-size: 16pt;
    font-family: 'Pacifico', cursive;
}

.main_theme-title-subtitle {
    font-size: 18pt;
    font-family: 'Pacifico', cursive;
    text-shadow: 3px 3px #E5E4D7;
}

.main_theme-nav-hamburger:hover {
    color: white;
}

.main_theme-nav {
    width: 100%;
    height: 53px;
    padding-top: 5px;
    position: fixed;
    z-index: 100;
}

.main_theme-drop_menu_container {
    position: fixed;
    height: 330;
    top: -330px;
    right: 0;
    max-width: 100%;
    width: 400px;
    z-index: 50;
    background-color: #E5E4D7;
    opacity: 0.9;
    padding: 5px;
}

.menu-label-update {
    font-family: 'Pacifico', cursive;
    padding: 10px 0 10px;
}

.main_theme-nav-hamburger {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    text-shadow: 1px 1px #FFCF79, 2px 2px #996300;
}

.admin_warning {
    background-color: #ff3860;
    color: white;
    border-radius: 2px;
}

.admin_warning a {
    color: white;
}

.menu-list a.is-active {
    background-color: #FFCF79;
    color: #4a4a4a;
}

.menu-list a:hover {
    color: #FFCF79;
    background-color: white;
}

.input:focus,
.button:focus {
    border-color: #FFCF79;
}

.main_theme-loading_window {
    position: absolute;
    top: 53px;
    left: 0;
    width: 100%;
    z-index: 100;
    opacity: 0;
}

.main_theme-loading_window-content {
    width: 300px;
    height: 181px;
    position: relative;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}

.main_theme-loading_window-content img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(1);
    /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1);
}

.main_theme-loading_window-content progress::-moz-progress-bar {
    background: #FFCF79;
}

.main_theme-loading_window-content progress::-webkit-progress-value {
    background: #FFCF79;
}

.main_theme-loading_window-content progress {
    color: #FFCF79;
}


/***************************************************** CHIT CHAT *************************************************/

.chit_chat-chat_output {
    position: absolute;
    width: 80%;
    left: -80%;
    top: 53px;
    overflow-y: scroll;
}

.chit_chat-side_bar {
    position: absolute;
    right: -20%;
    top: 53px;
    width: 20%;
    overflow-y:scroll;
    border-style:solid;
    border-width:0 0 0 1px;
    border-color:#E5E4D7;
}

.chit_chat-chat_input {
    position: absolute;
    bottom: -53px;
    width: 80%;
    height: 53px;
}

@media (max-height:300px) {
    .chit_chat-loader_image {
        display: none;
    }
}

@media (max-width: 900px) {
    .chit_chat-side_bar {
        display: none;
    }
    .chit_chat-chat_output {
        width: 100%;
        left: -100%;
    }
    .chit_chat-chat_input {
        width: 100%;
    }
}

.chat_input {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 53px;
}

.chat_window {
    bottom: 53px;
    position: absolute;
    width: 100%;
    overflow-y: scroll;
    max-height: 100%;
}

#js-chat_input:focus {
    border-color: #dbdbdb !important;
}

.comment_image {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
    float: left;
}

.side_bar-username {
    text-shadow: 2px 2px #FFCF79, 4px 4px #996300;
    font-size: 14pt;
    font-family: 'Pacifico', cursive;
    text-align: center;
    margin-bottom:20px;
}

.side_bar-username a {
    color:#3273dc;
    font-size:12pt;
}

.side_bar-profile_container {
    border-radius: 5px;
}

.side_bar-profile_picture {
    width:100%;
    border-radius: 5px;
}

.side_bar_container {
    white-space: nowrap;
    border-radius: 5px;
    margin-bottom:5px;
}

.side_bar_container:hover{
    background-color: white;
    color:#8c8c8c;
    cursor: pointer;
}

.side_bar_container-break {
    border-radius: 2px;
    margin-bottom:5px;
    height:4px;
}

.side_bar_image {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    overflow: hidden;
    float: left;
    display:inline-block;
}

.comment_title-user {
    float: left;
    padding: 0 10px 0 20px;
    font-size: 14pt;
    margin-top: -5px;
}

.side_bar-comment {
    padding: 0 5px;
    font-size: 10pt;
    margin-top: 3px;
    display:inline-block;
}

.comment_title-time {
    margin-top: -2px;
}

.comment_message {
    padding-left: 60px;
    word-wrap: break-word;
}

.chit_chat-chat_input-button {
    width:80%;
}

.chit_chat-chat_input-bet, .chit_chat-chat_input-send  {
    position:absolute;
    top:0;
    width:32px;
    height:100%;
    color:white;
    border-style:solid;
    border-color:#E5E4D7;
    border-width:1px 1px 1px 0;
}

.chit_chat-chat_input-bet:hover, .chit_chat-chat_input-send:hover {
    cursor:pointer;
    background-color:#ff3860;
}

.chit_chat-input_container {
    min-height:32px;
    width:100%;
    position:relative;
}

.chit_chat-chat_input-text {
    position:absolute;
    left:0;
    top:0;
    background-color:red;
    border-radius: 5px 0 0 5px;
    height:100%;
    display: inline-block;
    padding:5px 10px 5px 10px;
    overflow-y:scroll;
    border-style:solid;
    border-color:#E5E4D7;
    border-width:1px;
}

.chit_chat-chat_input-text:hover {
    cursor:text;
}

.chit_chat-chat_input-text p {
}

.chit_chat-chat_input-text p:focus {
    border:none;
}

.chit_chat-chat_input-send {
    right:32px;
    padding:7px 2px 0 7px;
}

.chit_chat-chat_input-bet {
    border-radius:0 5px 5px 0;
    right:0;
    padding:7px 1px 0 10px;
}

.chit_chat-time_stamp_break {
    width:100%;
    text-align: center;
    display:block;
    padding:2px 0 2px 0 ;
    background-color:#f5f5f0;
    border-radius:5px;
}

/***************************************************** PHOTOS PAGE *************************************************/

.hide_input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.hidden_to_begin {
    display: none;
}

.photo_album-image_wrapper img {
    width:100%;
}

.full_screen_image {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    text-align: center;
}

.full_screen_image img {
    display: inline-block;
    margin-top: auto;
    max-width: 100%;
    max-height: 100%;
}


/***************************************************** HIGHLIGHTS *************************************************/

.background_color-grey {
    background-color: #E5E4D7;
}

.background_color-light_grey {
    background-color: #f5f5f0;
}

.background_color-dark_grey {
    background-color: #8c8c8c;
}

.background_color-darker_grey {
    background-color: #cdcbb2;
}

.background_color-white {
    background-color: white;
}

.background_color-yellow {
    background-color: #FFCF79;
}

.background_color-light_yellow {
    background-color: #ffedcc;
}

.background_color-dark_green {
    background-color: #2C6700;
}

.background_color-light_green {
    background-color: #00b300;
    color: white;
}

.background-color-danger_pink {
    background-color: #ff3860;
    color: white;
}

.background_color-info_blue {
    background-color: #3273dc;
    color: white;
}

.background_color-golf_green {
    background-color: #92edbf;
}

.green_text {
    color: #2C6700;
}

.font-small {
    font-size: 11pt;
}

.font-small-12 {
    font-size: 12pt;
}

.border-radius-3 {
    border-radius: 5px;
    width: 16px;
    height: 16px;
    text-align: center;
}

.border-radius-3:hover,
.on_hover_pointer:hover,
.photo_album-image_wrapper {
    cursor: pointer;
}

.black_and_white_img {
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(1);
    /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1);
}


/* TOGGLES */

.toggle-display_none {
    display: none;
}

.toggle-text_place_holder {
    color:#b3b3b3;
}

.margin_top_and_bottom {
    padding:5px;
    border-radius:5px
}

.margin_top_and_bottom:hover {
    background-color:#E5E4D7;
}
