/***************************************************** GENERAL THEMES *************************************************/

body {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: none;
    max-height: none;
}

.columns.is-gapless:not(:last-child) {
    margin-bottom: 0;
}

.menu_buffer {
    width: 100%;
    height: 53px;
}

.main_theme-title {
    text-shadow: 2px 2px #E5E4D7, 4px 4px #aeac84;
    font-size: 24pt;
    font-family: 'Pacifico', cursive;
}

.main_theme-title-smaller {
    text-shadow: 2px 2px #FFCF79, 4px 4px #996300;
    font-size: 16pt;
    font-family: 'Pacifico', cursive;
}

.main_theme-title-subtitle {
    font-size: 18pt;
    font-family: 'Pacifico', cursive;
    text-shadow: 3px 3px #E5E4D7;
}

.main_theme-nav-hamburger:hover {
    color: white;
}

.main_theme-nav {
    width: 100%;
    height: 53px;
    padding-top: 5px;
    position: fixed;
    z-index: 100;
}

.main_theme-drop_menu_container {
    position: fixed;
    height: 330;
    top: -330px;
    right: 0;
    max-width: 100%;
    width: 400px;
    z-index: 50;
    background-color: #E5E4D7;
    opacity: 0.9;
    padding: 5px;
}

.menu-label-update {
    font-family: 'Pacifico', cursive;
    padding: 10px 0 10px;
}

.main_theme-nav-hamburger {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    text-shadow: 1px 1px #FFCF79, 2px 2px #996300;
}

.admin_warning {
    background-color: #ff3860;
    color: white;
    border-radius: 2px;
}

.admin_warning a {
    color: white;
}

.menu-list a.is-active {
    background-color: #FFCF79;
    color: #4a4a4a;
}

.menu-list a:hover {
    color: #FFCF79;
    background-color: white;
}

.input:focus,
.button:focus {
    border-color: #FFCF79;
}

.main_theme-loading_window {
    position: absolute;
    top: 53px;
    left: 0;
    width: 100%;
    z-index: 100;
    opacity: 0;
}

.main_theme-loading_window-content {
    width: 300px;
    height: 181px;
    position: relative;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}

.main_theme-loading_window-content img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(1);
    /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1);
}

.main_theme-loading_window-content progress::-moz-progress-bar {
    background: #FFCF79;
}

.main_theme-loading_window-content progress::-webkit-progress-value {
    background: #FFCF79;
}

.main_theme-loading_window-content progress {
    color: #FFCF79;
}


/***************************************************** CHIT CHAT *************************************************/

.chit_chat-chat_output {
    position: absolute;
    width: 80%;
    left: -80%;
    top: 53px;
    overflow-y: scroll;
}

.chit_chat-side_bar {
    position: absolute;
    right: -20%;
    top: 53px;
    width: 20%;
}

.chit_chat-chat_input {
    position: absolute;
    bottom: -53px;
    width: 80%;
    height: 53px;
}

@media (max-height:300px) {
    .chit_chat-loader_image {
        display: none;
    }
}

@media (max-width: 900px) {
    .chit_chat-side_bar {
        display: none;
    }
    .chit_chat-chat_output {
        width: 100%;
        left: -100%;
    }
    .chit_chat-chat_input {
        width: 100%;
    }
}

.chat_input {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 53px;
}

.chat_window {
    bottom: 53px;
    position: absolute;
    width: 100%;
    overflow-y: scroll;
    max-height: 100%;
}

#js-chat_input:focus {
    border-color: #dbdbdb !important;
}

.comment_image {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
    float: left;
}

.comment_title-user {
    float: left;
    padding: 0 10px 0 20px;
    font-size: 14pt;
    margin-top: -5px;
}

.comment_title-time {
    margin-top: -2px;
}

.comment_message {
    padding-left: 60px;
}


/***************************************************** PHOTOS PAGE *************************************************/

.hide_input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.hidden_to_begin {
    display: none;
}

.full_screen_image {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    text-align: center;
}

.full_screen_image img {
    display: inline-block;
    margin-top: auto;
    max-width: 100%;
    max-height: 100%;
}


/***************************************************** HIGHLIGHTS *************************************************/

.background_color-grey {
    background-color: #E5E4D7;
}

.background_color-light_grey {
    background-color: #f5f5f0;
}

.background_color-dark_grey {
    background-color: #8c8c8c;
}

.background_color-darker_grey {
    background-color: #cdcbb2;
}

.background_color-white {
    background-color: white;
}

.background_color-yellow {
    background-color: #FFCF79;
}

.background_color-light_yellow {
    background-color: #ffedcc;
}

.background_color-dark_green {
    background-color: #2C6700;
}

.background_color-light_green {
    background-color: #00b300;
    color: white;
}

.background-color-danger_pink {
    background-color: #ff3860;
    color: white;
}

.green_text {
    color: #2C6700;
}

.font-small {
    font-size: 11pt;
}

.border-radius-3 {
    border-radius: 5px;
    width: 16px;
    height: 16px;
    text-align: center;
}

.border-radius-3:hover,
.on_hover_pointer:hover,
.photo_album-image_wrapper {
    cursor: pointer;
}


/* TOGGLES */

.toggle-display_none {
    display: none;
}
