/* Main Themes */

body {
	font-family: 'Roboto', sans-serif;
}

.main_theme-title {
	text-shadow: 2px 2px #E5E4D7, 4px 4px #aeac84;
	font-size:24pt;
	font-family: 'Pacifico', cursive;
}

.input:focus, .button:focus {
	border-color:#FFCF79;
}

/* Highlight */

.background_color-grey {
	background-color:#E5E4D7;
}

.background_color-yellow {
	background-color:#FFCF79;
}

.background_color-dark_green {
	background-color:#2C6700;
}

.background_color-light_green {
	background-color:#92CD00;
}




