body {
	font-family: 'Roboto', sans-serif;
  background-color: #e5e4d7;
}

.leader-board {
  -webkit-box-shadow: 10px 10px 23px -8px rgba(199,199,199,1);
  -moz-box-shadow: 10px 10px 23px -8px rgba(199,199,199,1);
  box-shadow: 10px 10px 23px -8px rgba(199,199,199,1);
  border-radius: 29px 29px 29px 29px;
  -moz-border-radius: 29px 29px 29px 29px;
  -webkit-border-radius: 29px 29px 29px 29px;
  border: 0px none #000000;
  background-color: #f5f5f0;
  height: 160px;
  padding:10px;
  margin-left:10px;
  margin-right:10px;

  }

.main_theme-title {
    text-shadow: 2px 2px #E5E4D7, 4px 4px #aeac84;
    font-size:24pt;
    font-family: 'Pacifico', cursive;
}

.main_theme-subtitle {
  text-shadow: 2px 2px #E5E4D7, 4px 4px #aeac84;
  font-size:24pt;
  font-family: 'Pacifico', cursive;
  text-align: center;
  margin-bottom: 10px

}


.main_theme-number {
    font-size:24pt;
    color:white;
    font-family: 'Pacifico', cursive;
    margin-top: 60px;
}

.regular-input {
   font-family: 'Roboto', sans-serif;
   color: white;
   font-size:20pt;
   display:flex;
   justify-content:center;
   align-items:center;
}

.img-circle {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.22);
}


.lboard_image {
    width: 60px;
    height: 60px;
    border-radius: 7px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.22);
}

.lboard_image:hover {
    box-shadow: 0 5px 5px rgb(255,207,121);
}



/* FLICKETY SCROLL BAR */

.gallery-cell {
  width: 25%;
  height: 120px;
  margin-right: 10px;
  /*background: #E5E4D7;*/
  counter-increment: gallery-cell;
}

.score .gallery-cell {
  width: 45%;
  height: 100px;
  margin-right: 10px;
  /*background: #E5E4D7;*/
  counter-increment: gallery-cell;
}

.button__badge {
  background-color: #ff7a7a;
/*  #FFCF79*/
  border-radius: 2px;
  color: white;
  padding: 1px 3px;
  font-size: 10px;
  position: absolute; /* Position the badge within the relatively positioned button */
  top: -1px;
  right: 23%;
}

/* END FLICKETY SCROLL BAR  */

/* Grid LAYOUT */
#hole_links {
  padding:10px;
  padding-top: 0px;
  margin-top: 2px;
}

.field {
  margin-bottom: 0px !important;
  padding-left: 10px;
  padding-right: 10px;
}

.box-hole {
  background: #fff;
  border: 2px solid #e5e4d7;
  height: 150px;
  display: table-cell;
  vertical-align: middle;
  background-size: cover;
}

.hole-details {
  padding:15px;
  border: 0.5px solid #fff;
  color: #FFF;
  text-align: center;
}

.hole-details img {
    display : block;
    margin : auto;
}

.hole-stat {
  font-size: 28pt;
}

.pro-tip {
  font-size: 10pt;
  text-align: right;
}

.top-left {
  margin-top: 5px;
  margin-left:5px;
  float: left;
}
/*  border-radius: 1px 1px 1px 1px;
  -webkit-box-shadow: 0 1px 2px #777;
  -moz-box-shadow: 0 2px 1px #777;
  box-shadow: 0 2px 1px #777;
}*/

/* End Grid LAYOUT */


/* TEXT FORMATTING */
.test {
  border: 2px dashed #f69c55;
}

.center-div {
  display:flex;
  justify-content:center;
  align-items:center;
}

.float-left {
	display:inline-block
}

.hover-nice:hover{
  text-underline-position: 
}

.row {
  display: flex;
}



/*****************************************************************************************/
/* SCORE INPUT*/

.score-input input {
  border: none;
  background: transparent;
  width: 50px;
  padding: 8px;
  text-align: center;
}

.score-input button {
  
}

.score-input .is-active input {
  
}
.score-input .is-active input {
  
}

.slider {
    position: absolute;
    display:block;
    left: 0;
    top:90%;
    margin:0 auto;
    height: 2px;
    background-color: #000;
    width: 100%;
    transition: width 1s ease;
}




/*****************************************************************************************/


/* BULMA ALTERATIONS */

.tabs.is-toggle li.is-active a {
  background-color: #FFCF79;
  border-color: #FFCF79;
  color: #fff;
  z-index: 1;
}

.tabs.is-toggle a:hover {
  background-color: #ffeac6;
  border-color: #FFCF79;
  z-index: 2;
}

/* END BULMA ALTERATIONS*/

.background_color-grey {
    background-color: #E5E4D7;
}

.background_color-light_grey {
    background-color: #f5f5f0;
}

.background_color-yellow {
    background-color: #FFCF79;
}

.background_color-light_yellow {
    background-color: #ffedcc;
}

.background_color-dark_green {
    background-color: #2C6700;
}

.background_color-light_green {
    background-color: #00b300;
    color: white;
}

.background-color-danger_pink {
    background-color: #ff3860;
    color:white;
}

.green_text {
    color: #2C6700;
}
