body {
	font-family: 'Roboto', sans-serif;
}

.main_theme-title {
    text-shadow: 2px 2px #E5E4D7, 4px 4px #aeac84;
    font-size:24pt;
    font-family: 'Pacifico', cursive;
}

.main_theme-number {
    font-size:24pt;
    color:white;
    font-family: 'Pacifico', cursive;
    margin-top: 60px;
}

.paper {
  background: #fff;
  box-shadow:
    /* The top layer shadow */
    0 -1px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 -10px 0 -5px #eee,
    /* The second layer shadow */
    0 -10px 1px -4px rgba(0,0,0,0.15),
     /* The third layer */
    0 -20px 0 -10px #eee,
    /* The third layer shadow */
    0 -20px 1px -9px rgba(0,0,0,0.15);
    /* Padding for demo purposes */
    padding: 30px;
}

.img-circle {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.22);
}


.img-circle:hover {
    box-shadow: 0 5px 5px rgb(255,207,121);
}



/* FLICKETY SCROLL BAR */

.gallery-cell {
  width: 35%;
  height: 100px;
  margin-right: 10px;
  /*background: #E5E4D7;*/
  counter-increment: gallery-cell;
}

.button__badge {
  background-color: #FFCF79;
  border-radius: 2px;
  color: white;
  padding: 1px 3px;
  font-size: 10px;
  position: absolute; /* Position the badge within the relatively positioned button */
  top: 5px;
  right: 34%;
}

/* END FLICKETY SCROLL BAR  */



/* Grid LAYOUT */

.box-hole {
  background: #fff;
  border: 2px solid #fff;
  height: 150px;
  display: table-cell;
  vertical-align: middle;
  background: url('/img/holes/texture/1.jpg');
  background-size: cover;
}
/*  border-radius: 1px 1px 1px 1px;
  -webkit-box-shadow: 0 1px 2px #777;
  -moz-box-shadow: 0 2px 1px #777;
  box-shadow: 0 2px 1px #777;
}*/

/* End Grid LAYOUT */


/* TEXT FORMATTING */
.test {
  border: 2px dashed #f69c55;
}

.center-div {
  display:flex;
  justify-content:center;
  align-items:center;
}

.float-left {
	display:inline-block
}

.hover-nice:hover{
  text-underline-position: 
}

.row {
  display: flex;
}

.hole-stats { 
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color: white;
}


/* Forms and Inputs */

/*.score-input {
  color: white;
  width: 600px;
  max-width: 80%;
  display: none;
  border-bottom-color: white;
}*/


/* SCORE INPUT VERSION 1 */


/* BULMA ALTERATIONS */

.tabs.is-toggle li.is-active a {
  background-color: #FFCF79;
  border-color: #FFCF79;
  color: #fff;
  z-index: 1;
}

.tabs.is-toggle a:hover {
  background-color: #ffeac6;
  border-color: #FFCF79;
  z-index: 2;
}

/* END BULMA ALTERATIONS*/

.background_color-grey {
    background-color: #E5E4D7;
}

.background_color-light_grey {
    background-color: #f5f5f0;
}

.background_color-yellow {
    background-color: #FFCF79;
}

.background_color-light_yellow {
    background-color: #ffedcc;
}

.background_color-dark_green {
    background-color: #2C6700;
}

.background_color-light_green {
    background-color: #00b300;
    color: white;
}

.background-color-danger_pink {
    background-color: #ff3860;
    color:white;
}

.green_text {
    color: #2C6700;
}
