body {
	font-family: 'Roboto', sans-serif;
}

.main_theme-title {
    text-shadow: 2px 2px #E5E4D7, 4px 4px #aeac84;
    font-size:24pt;
    font-family: 'Pacifico', cursive;
}

.paper {
  background: #fff;
  box-shadow:
    /* The top layer shadow */
    0 -1px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 -10px 0 -5px #eee,
    /* The second layer shadow */
    0 -10px 1px -4px rgba(0,0,0,0.15),
     /* The third layer */
    0 -20px 0 -10px #eee,
    /* The third layer shadow */
    0 -20px 1px -9px rgba(0,0,0,0.15);
    /* Padding for demo purposes */
    padding: 30px;
}

.img-circle {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.22);
}

.img-circle:hover {
    box-shadow: 0 5px 5px rgb(255,207,121);
}

.float-left {
	display:inline-block
}


/* BULMA ALTERATIONS */

.tabs.is-toggle li.is-active a {
  background-color: #FFCF79;
  border-color: #FFCF79;
  color: #fff;
  z-index: 1;
}

.tabs.is-toggle a:hover {
  background-color: #ffeac6;
  border-color: #FFCF79;
  z-index: 2;
}

/* END BULMA ALTERATIONS*/
